{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div style="width: 90%; padding: 20px;">
            <h3>{{ post.ptitle }}</h3>
            <a href="{{ url_for('blog_blueprint.user_posts', uname=post.post_writer.uname) }}">
                <small class="text-muted">by {{ post.post_writer.uname }}</small>
            </a><br>
            {% if post.ppname %}
                <img src="{{ url_for('static', filename='PostImages/'+post.ppname) }}"
                     class="rounded mx-auto d-block"
                     alt="{{ post.ptitle }}"
                     style="max-width: 80%;"><br>
            {% endif %}
            <div style="padding-left: 10px;">
                <h6>
                {{ post.pcontent[:300] }}...
                </h6>
                <hr class="divider">
                <a class="btn btn-light"
                   href="{{ url_for('blog_blueprint.display_post', slug=post.pslug)}}"
                   role="button">Read more</a>
            </div>
        </div>
    {% endfor %}
    <div align="center">
    {% if post_count <= 10 %}
        <br>
    {% elif page == 1 %}
        <a class="btn btn-light"
           role="button" disabled>Previuos page</a>
        <a class="btn btn-dark"
           href="{{ url_for('index', page=page+1) }}"
           role="button">Next page</a>
    {% elif page * 10 >= post_count %}
        <a class="btn btn-dark"
           href="{{ url_for('index', page=page-1) }}"
           role="button">Previuos page</a>
        <a class="btn btn-light"
           role="button" disabled>Next page</a>
    {% else %}
        <a class="btn btn-dark"
           href="{{ url_for('index', page=page-1) }}"
           role="button">Previuos page</a>
        <a class="btn btn-dark"
           href="{{ url_for('index', page=page+1) }}"
           role="button">Next page</a>
    {% endif %}
    </div>
    <br>
    <br>
{% endblock content %}
