{% extends "app_user/layout.html" %}

{% block content %}
<div style="width: 50%; margin: auto; padding-top: 20px; ">
    <form action="{{ url_for('admin_blueprint.login') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label>{{ form.email.label }}</label> {{ form.email(class_="form-control") }}
        </div>
        <div class="form-group">
            <label>{{ form.password.label }}</label> {{ form.password(class_="form-control") }}
        </div>
        {{ form.submit(class_="form-control btn btn-light") }}
    </form>
</div>
{% endblock content %}
