{% extends "app_blog/layout.html" %}

{% block content %}
    <blockquote class="blockquote">{{ post.ptitle }}</blockquote>
    <a href="{{ url_for('blog_blueprint.user_posts', uname=post.post_writer.uname) }}">
        <small class="text-muted">by {{ post.post_writer.uname }}</small>
    </a><br>
    {% if post.ppname %}
        <img src="{{ url_for('static', filename='PostImages/'+post.ppname) }}"
             class="rounded mx-auto d-block"
             alt="{{ post.ptitle }}"
             style="max-width: 70%;"><br>
    {% endif %}
    <div style="width: 70%; padding-left: 10px;">
        <h6>{{ post.pcontent }}</h6>
    </div>
    {% for keyword in post.post_keywords %}
        <a href="{{ url_for('blog_blueprint.keyword_posts', key=keyword.kword) }}"
           class="btn btn-light"
           role="button">
            {{ keyword.kword }}
        </a>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    {% if active %}
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active"
                   href="{{ url_for('blog_blueprint.edit_post', pid=post.pid) }}">Edit Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"
                   href="{{ url_for('blog_blueprint.delete_post', pid=post.pid) }}">Delete Post</a>
            </li>
        </ul>
        <br>
        <hr class="divider" style="width: 60%;">
        <div style="padding-left: 30px;">
            {% for comment in post.post_comments %}
                <small class="text-muted">{{ comment.cwname }} said:</small>
                <div style="padding-left: 10px; width: 60%;">
                    <h6>{{ comment.ccontent }}</h6>
                    {% if comment.canswer is not none %}
                        <small class="text-muted">answer:</small>
                        <div style="padding-left: 10px; width: 60%;">
                            <h6>{{ comment.canswer }}</h6>
                        </div>
                    {% else %}
                        <form action="{{ url_for('blog_blueprint.answer_comment', cid=comment.cid) }}"
                              method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-group" style="width: 70%;">
                                <label><small class="text-muted">answer:</small></label>
                                {{ form.comment_content(class_="form-control") }}
                            </div>
                            {{ form.submit(class_="form-control btn btn-light", style="width: 30%") }}
                        </form>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
    {% else %}
        <div style="width: 70%; padding: 10px;">
            <form action="{{ url_for('blog_blueprint.new_comment', pid=post.pid) }}"
                  method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group" style="width: 50%;">
                    <label>Name</label>
                    {{ form.writer_name(class_="form-control") }}
                </div>
                <div class="form-group" style="width: 70%;">
                    <label>Comment</label>
                    {{ form.comment_content(class_="form-control") }}
                </div>
                {{ form.submit(class_="form-control btn btn-light", style="width: 30%") }}
            </form>
        </div>
        <br>
        <hr class="divider" style="width: 60%;">
        <div style="padding-left: 30px;">
            {% for comment in post.post_comments %}
                <small class="text-muted">{{ comment.cwname }} said:</small>
                <div style="padding-left: 10px; width: 60%;">
                    <h6>{{ comment.ccontent }}</h6>
                    {% if comment.canswer is not none %}
                        <small class="text-muted">answer:</small>
                        <div style="padding-left: 10px; width: 60%;">
                            <h6>{{ comment.canswer }}</h6>
                        </div>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
