{% extends "app_blog/layout.html" %}

{% block content %}
    {% for post in posts %}
        <div style="width: 90%; padding: 20px;">
            <h3 style="display: inline;">{{ post.ptitle }}</h3>
            <div style="width: 70%; padding-left: 5px;">
                <br>
                <p>{{ post.pcontent[:300] }}...</p>
                <hr class="divider">
                <a class="btn btn-light"
                   href="{{ url_for('blog_blueprint.display_post', slug=post.pslug)}}"
                   role="button">Read more</a>
            </div>
        </div>
    {% endfor %}
{% endblock content%}
