{% extends "app_blog/layout.html" %}

{% block content %}
    <div style="width: 90%; margin: auto; padding-top: 20px; ">
        <form action="{{ target }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group" style="width: 50%;">
                <label>{{ form.title.label }}</label> <small class="text-muted">must be less than 64 characters.</small>
                {{ form.title(class_="form-control") }}
            </div>
            <div>
                <label>{{ form.picture.label }}</label>
                {{ form.picture(class_="form-control-file") }}
                <br>
            </div>
            <div class="form-group" style="width: 70%">
                <label>{{ form.keywords.label }}</label> <small class="text-muted">must be seperated with commas. (,)</small>
                {{ form.keywords(class_="form-control") }}
            </div>
            <div class="form-group">
                <label>{{ form.content.label }}</label> {{ form.content(class_="form-control") }}
            </div>
            {{ form.submit(class_="form-control btn btn-light", style="width: 30%") }}
        </form>
    </div>
{% endblock content %}
